//META{"name":"Nesecord","description":"Sexy clean Theme","author":"Nesewebel","version":"0.2.1"}*//

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

body {
	font-family: Roboto,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.theme-dark .chat, .theme-dark .chat .content, .theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: #202020;
}

.theme-dark .chat .title-wrap {
    background: #181818;
    border: 0;
    box-shadow: none;
}

.guild-channels {
    background-color: #1b1b1b;
}

.guild-channels .channel-text.selected {
    background: #181818;
}

.guild-channels .channel:hover {
    background: #181818;
}

.guilds-wrapper {
    background: #181818;
}

.guild-header header {
    background-color: #181818;
    font-family: Roboto,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    box-shadow: none;
    border-bottom: 1px solid #181818;
}

.guild-header header:hover {
    background-color: #181818;
}

.theme-dark .header-toolbar .toolbar-badge {
    border-color: #181818;
}

.account {
    background: #181818;
    padding: 0 10px;
    border-top: none;
}

.account .btn {
    background: #141414;
    border-radius: 0;
}

.account .btn:hover {
    background: #121212;
}

.account .btn:active {
    background: #101010;
}

.account .btn-group {
    border: 0;
    border-radius: 0;
}

.account .btn-deafen, .account .btn-mute {
    border-right: 0;
}

.account .btn-deafen, .account .btn-settings {
    box-shadow: none;
}

.theme-dark .channel-members {
    background-color: #1b1b1b;
}

.theme-dark .channel-textarea-inner {
    background-color: #141414;
}

.channel-textarea-inner {
    padding: 7px 10px;
    margin-bottom: -10px;
    margin-top: -2px;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
}

.theme-dark .channel-textarea-inner textarea {
    background-color: transparent;
}

.theme-dark .channel-textarea-inner .channel-textarea-upload {
    border: 0;
}

.channel-textarea-upload {
    border: 0;
    margin: -7px 10px -7px -10px;
    width: 50px;
}

.typing {
    margin-bottom: -4px;
}

.theme-dark .chat form .typing {
    background: none;
}

.flex-spacer {
	background: #181818;
}

.theme-dark .chat form {
    border-top: 0;
}

.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background: none;
    border-radius: 0;
}

.message-group .comment .markup pre {
    border: 0;
    border-radius: 0;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: #181818;
}

.message-group .comment .markup code.inline {
    border-radius: 0;
    font-family: "Roboto Mono",Consolas,Liberation Mono,Menlo,Courier,monospace;
}

code {
    font-family: "Roboto Mono",Menlo,Consolas,Monaco,monospace;
}

.search-bar {
    background-color: #181818;
    box-shadow: none;
    border-radius: 0;
}

.private-channels {
    background-color: #1b1b1b;
}

.private-channels .channel.selected {
    background: #181818;
    color: #fff;
}

.private-channels .channel:hover {
    background: #181818;
    color: #fff;
}

.chat .new-messages-bar {
    border-radius: 0;
    background: rgba(16,16,16,.85);
}

.chat .new-messages-bar button {
    font-family: Roboto,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.embed {
    border: 0;
    border-radius: 0;
}

.theme-dark .message-group .embed {
    background-color: #181818;
}

.theme-dark .message-group .embed-wrapper .embed-color-pill {
    background-color: #101010;
}

.embed-wrapper .embed-color-pill {
    width: 4px;
    border-radius: 0;
}

.scroller-wrap .scroller.messages::-webkit-scrollbar {
    width: 12px;
}

.scroller-wrap .scroller.messages::-webkit-scrollbar-track-piece {
    border: 0;
    border-radius: 0;
    background: none;
}

.scroller-wrap .scroller.messages::-webkit-scrollbar-thumb {
    background-color: #141414;
    border: none;
    border-radius: 0;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 12px;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 0;
    border-radius: 0;
}

.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
    background-color: #121212;
    border: none;
    border-radius: 0;
}

.theme-dark .ui-scroller-wrap .scroller::-webkit-scrollbar-thumb, .theme-light .ui-scroller-themed.ui-scroller-dark .scroller::-webkit-scrollbar-thumb, .ui-scroller-themed.ui-scroller-dark .scroller::-webkit-scrollbar-thumb {
    background-color: #121212;
    border: none;
    border-radius: 0;
}

.theme-dark .ui-scroller-wrap.ui-scroller-track>.scroller::-webkit-scrollbar-track, .theme-light .ui-scroller-themed.ui-scroller-dark.ui-scroller-track>.scroller::-webkit-scrollbar-track, .ui-scroller-themed.ui-scroller-dark.ui-scroller-track>.scroller::-webkit-scrollbar-track {
    background: none;
}

.ui-scroller-wrap .scroller::-webkit-scrollbar {
    width: 12px;
}